@tailwind base;
@tailwind components;
@tailwind utilities;
@import "flowbite";

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");

body {
  font-family: "Inter", sans-serif;
}

section {
  margin: 120px 0;
}

.h4-styles {
  @apply md:text-lg font-bold font-sans my-6  border-l-4 pl-4 border-secondary_1  capitalize;
}
.p-styles {
  @apply text-black;
}

.social-icon {
  @apply hover:bg-secondary_1 text-black border-border_color_7 hover:text-white  h-6 w-6 rounded-full flex items-center justify-center bg-section_bg_1 border;
}

.swiper-pagination-bullet,
.swiper-pagination-bullets,
.swiper-pagination {
  margin-top: 100px;
}
